div.Video {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

div.Video h1 {
    margin-left: 1rem;
    padding: .3rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: #56593F;
    text-align: center;
    color: white;
}

iframe {
    margin-top: .5rem;
}

.combinacao {
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;
    margin-top: .7rem;
}

div.combinacao h1.titulo {
    margin-left: 1rem;
    padding: .3rem;
    font-size: 1.4rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: #56593F;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
div.slide {
    font-family: 'IBM Plex Serif', serif;
    margin-left: .5rem;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.ofertas {
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 2rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    box-shadow: .1rem .1rem .1rem bisque;
    text-decoration: none;
    color: black;
}

img.img-oferta {
    height: 5rem;
    width: 5rem;
}