html, body {
    height: 100%;
    width: 100%;
    background-color: #5EFF87;
}

header {
    width: 100%;
    background-color: #DB3B45;
    border-bottom: solid #8F0A12 .2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.comprimentos {
    padding-left: 1rem;
    padding-bottom: .5rem;
    padding-top: 1rem;
    font-size: 2rem;
}

.Video {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.tituloCurso {
    margin-left: 1rem;
    padding: .3rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
}

iframe {
    margin-top: .5rem;
}

.combinacao {
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;
    margin-top: .7rem;
}

.titulo-combinacao {
    margin-left: 1rem;
    padding: .3rem;
    font-size: 1.4rem;
    margin-right: 1rem;
    border: solid #3BDB63 .2rem;
    border-radius: 1rem;
    background-color: #188F36;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
.slide {
    margin-left: .5rem;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ofertas {
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 2rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
}

.img-oferta {
    height: 5rem;
    width: 5rem;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-x: auto; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid-item {
    margin: .3rem .5rem .3rem .5rem ;
    padding: .5rem .8rem .5rem .8rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
}

.navbar {
    border-radius: 1rem 1rem 0 0;
    height: 3rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

a {
    text-decoration: none;
    color: black;
    align-self: center;
    font-size: 1.3rem;
}