/* Esta parte do código foi inteiramente baseada no seguinte link:
https://www.w3schools.com/howto/howto_css_chat.asp*/

html {
    background-color: #C2C2C4;
    height:100%;
}

body {
    font-family: 'Baskervville', serif;
    height: 100%;
}

header {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: .2rem solid #3B3B3D;
    background-color: #FF8400;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: .2rem .2rem .2rem rgb(126, 122, 122);
    font-size: 2rem;
    font-weight: bold;
}

.container {
    border: .2rem solid #3B3B3D;
    background-color: white;
    box-shadow: .2rem .2rem .2rem rgb(126, 122, 122);
    border-radius: .5rem;
    padding: .6rem;
    margin: .6rem 0;
}
  
.darker {
    border-color:#3B3B3D;
    background-color:#00cc1f79;
    box-shadow: .2rem .2rem .2rem rgb(126, 122, 122);
}

.container::after {
    content: "";
    clear: both;
    display: table;
}
  

.container img {
    float: left;
    max-width: 3.8rem;
    width: 100%;
    margin-right: 2rem;
    border-radius: 50%;
}
  

.container img.right {
    float: right;
    margin-left: 2rem;
    margin-right:0;
}
  

.time-right {
    float: right;
    color: black;
}
  

.time-left {
    float: left;
    color: #3B3B3D;
}
p{
    margin-top: 1.5rem;
}
