html {
    background-color:#C2C2C4;
    height:100%;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: .2rem solid #3B3B3D;
    background-color:#ff8400;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: .2rem .2rem .2rem rgb(126, 122, 122);
    font-size: 2rem;
    font-weight: bold;
}

main {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#C2C2C4;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: white;
    border-radius: 1rem;
}

img{
    margin:2rem;
    height: 7.5rem;
    width: 7.5rem;
    display:block;
    border-radius: 2rem;
    box-shadow: .2rem .2rem .2rem rgb(126, 122, 122);
}

p{
    align-self: center;
    font-size: 1rem;
}

a{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    align-self: center;
    justify-self: right;
    border: .1rem solid  #00CC1F;
    border-radius: .5rem;
    padding: .2rem;
    margin-left: 1.5rem;
    background-color:  #00CC1F;
    text-decoration: none;
    color: white;
}
