html {
    background-color: rgb(209, 209, 209);
    height:100%
}

body {
    height: 100%;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: .2rem solid whitesmoke;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: .2rem .2rem .2rem rgb(126, 122, 122);
    font-size: 2rem;
}

main {
    height: 100%;
}

.Pergunta {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    height: 10%;
}

.Opcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    margin-left: 20%;
    margin-right: 20%;
}

a {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: red;
    opacity: 50%;
    border: .1rem solid red;
    border-radius: .8rem;
    text-decoration: none;
    color:white;
    transition: 0.8s;
    cursor: pointer;
    box-shadow: .5rem .5rem .5rem rgb(126, 122, 122);
}

a:hover {
    opacity: 100%;
    transition: 0.5s;
}