html {
    background-color: rgb(209, 209, 209);
    height:100%;
}

body {
    height: 100%;
}

header {
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: .2rem solid whitesmoke;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: .2rem .2rem .2rem rgb(126, 122, 122);
    font-size: 2rem;
}

main {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.Texto {
    font-family: 'Poppins', sans-serif;
    margin: 4%;
    font-size: 2.5rem;
    /* text-decoration: underline; */
    padding-bottom: .2rem;
    background-color: rgba(255, 0, 0, .5);
    color: white;
    text-align: center;
    border-radius: 1rem;

}

.Perguntas {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.Respostas {
    font-size: 1rem;
    padding-right: 10%;
    padding-left: 1%;
    margin: .2rem 0 2rem 2rem;
    background-color: white;
    opacity: 80%;
    border: .05rem solid white;
    border-radius: .2rem;
    text-decoration: none;
    color:black;
    transition: 0.8s;
    cursor: pointer;
}

input::placeholder{
    color: red;
    opacity: 30%;
}

div{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.Opcoes {
    display: flex;
    align-self: flex-start;
    font-size: 1rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.click{
    margin-left: 5%;
    margin-bottom: 2rem;
    align-items: center;
    cursor: pointer;
}

a {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    display: block;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: red;
    opacity: 50%;
    border: .1rem solid red;
    border-radius: .8rem;
    text-decoration: none;
    color:white;
    transition: 0.8s;
    cursor: pointer;
    box-shadow: .5rem .5rem .5rem rgb(126, 122, 122);
}

a:hover {
    opacity: 100%;
    transition: 0.5s;
}
